@import '../../assets/theme/theme.css';

.container {
    width: 364px;
    height: 380px;
    background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
    border-radius: 4px;
    margin-right: 24px;
    margin-bottom: 24px;
    cursor: pointer;
}

.container:nth-child(3n) {
    margin-right: 0;
}

.container:nth-last-child(1),
.container:nth-last-child(2),
.container:nth-last-child(3) {
    margin-bottom: 0;
}

.imgBlock {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPlayerBlock {
    align-items: flex-end;
}

.imgTeam {
    width: 150px;
    height: 150px;
}
.imgPlayer {
    width: 274px;
    height: 207px;
}

.textBlock {
    height: 25%;
    background: var(--navbar-login-name);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 15px;
    line-height: 24px;
    color: var(--primary-text-color);
    margin: 0 0 7px 0;
}

.numberStyles {
    color: red;
}

.info {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: var(--second-text-color);
    margin: 0;
}

@media screen and (max-width: 768px) {
    .container {
        width: 218.5px;
        height: 180px;
    }
    .container:nth-child(2n + 1) {
        margin-right: 12px;
        margin-bottom: 12px;
    }
    .container:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 12px;
    }
    .container:nth-last-child(1),
    .container:nth-last-child(2) {
        margin-bottom: 0;
    }
    .imgBlock {
        height: 55%;
    }
    .imgTeam {
        width: 58px;
        height: 50px;
    }
    .imgPlayer {
        width: 121px;
        height: 93px;
    }
    .textBlock {
        height: 45%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 169.5px;
    }
}
