.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-areas: "auth fonts";
}

.container {
  grid-area: auth;
  min-width: 350px;
  align-self: center;
  justify-self: center;
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

.error {
  color: #ff768e;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.error::before {
  display: inline;
}

.title {
  font-size: 36px;
  line-height: 49px;
  font-style: normal;
  font-weight: normal;
  color: #344472;
}

.inputContainer {
  height: 100px;
}

.inputStyles {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  position: relative;
}

.passwordIcon {
  position: absolute;
  right: 12px;
  display: flex;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background: #f6f6f6;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  display: inline;
  margin-bottom: 8px;
  margin-top: 24px;
  color: #707070;
}

.input[type="submit"] {
  height: 40px;
  background: #e4163a;
  color: white;
  border: none;
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.input[type="submit"]:hover {
  background: #ff5761;
}

.input[type="button"]:active,
.input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.input:disabled {
  background: #f6f6f6;
}

.input[type="button"],
.input[type="submit"] {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  margin: 0;
  margin-right: 10px;
}

.fonts {
  grid-area: fonts;
  background-color: #f5fbff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authSign {
  display: flex;
  justify-content: center;
}

.spanMember {
  margin-right: 15px;
}

.pathLink {
  color: red;
}

@media screen and (max-width: 414px) {
  .wrapper {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 80px;
  }
  .fonts {
    display: none;
  }
  .title {
    text-align: center;
  }
}

@media screen and (width: 320px) {
  .form {
    margin-left: 24px;
    margin-right: 14px;
    margin-bottom: 80px;
  }
}
