.inputContainer {
  height: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  display: inline;
  margin-bottom: 0;
  color: var(--label-color);
}

.errorMessage {
  color: #ff768e;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
}
