@import '../assets/theme/theme.css';

.container {
    width: calc(100% - 160px);
    height: 565px;
    margin-top: 32px;
    background-color: var(--primary-bg-color);
    border-radius: 10px 10px 10px 10px;
}
.playerContainer {
    height: 655px;
}

.formContainer {
    display: flex;
    width: 100%;
    background-color: var(--primary-bg-color);
    margin-top: 117px;
}

.addFileBlock {
    width: 336px;
    height: 261px;
    margin-left: 6%;
    background-color: var(--second-text-color);
    border-radius: 10px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%, contain;
}

.addFileInput {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    opacity: 0;
}

.inputFormContainer {
    width: 366px;
    margin-left: 136px;
}

.buttonsContainer {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: space-between;
}
.twoItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oneItemContainer {
    width: 171px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin-top: 16px;
    }
    .formContainer {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .addFileBlock {
        width: 185px;
        height: 144px;
        margin: 48px 0;
    }
    .inputFormContainer {
        margin: 0;
        width: 327px;
        margin-bottom: 48px;
    }
    .oneItemContainer {
        width: 151px;
    }
}
