@import '../assets/theme/theme.css';

.wrapper {
    display: flex;
    flex-direction: row;
}

.authContainer {
    width: 40%;
    min-width: 366px;
    height: 100vh;
    background: var(--primary-bg-color);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    width: 60%;
    height: 100vh;
    background: var(--auth-image-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.authBlock {
    width: 366px;
    display: flex;
    flex-direction: column;
}

.registerBlock {
    width: 366px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 36px;
    line-height: 49px;
    font-weight: normal;
    color: var(--login-title-text);
    margin: 0;
    margin-bottom: 32px;
}

.form {
    display: flex;
    flex-direction: column;
}

.imageBlock {
    width: 100%;
}

.buttonContainer {
    margin: 0;
    margin-bottom: 24px;
}

.authSign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spanMember {
    font-size: 14px;
    line-height: 24px;
    color: var(--label-color);
}

.pathLink {
    color: var(--active-nav-color);
    margin-left: 5px;
}

.checkboxContainer {
    height: 48px;
    display: flex;
    flex-direction: column;
}

.customCheckbox,
.checkboxError {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customCheckbox + label,
.checkboxError + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.customCheckbox + label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #707070;
    border-radius: 2px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.checkboxError + label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ff768e;
    border-radius: 2px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.customCheckbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #e4163a;
}

.customCheckbox:not(:disabled):not(:checked)
    + label:hover::before
    + .checkboxError {
    border-color: green;
}

.customCheckbox:not(:disabled):active + label::before {
    background-color: #e4163a;
    border-color: #e4163a;
}

.customCheckbox:checked + label::before {
    border-color: #e4163a;
    background-color: #e4163a;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkboxText {
    font-size: 14px;
    line-height: 24px;
    color: var(--label-color);
}

.spanError {
    color: #ff768e;
}

.errorMessage {
    color: var(--logout-color);
    margin: 0;
    font-size: 12px;
    line-height: 19px;
}

.errorMessage::before {
    display: inline;
}

@media screen and (max-width: 768px) {
    .imageContainer {
        display: none;
    }
    .authContainer {
        width: 100vh;
    }
    .authBlock,
    .registerBlock {
        width: 327px;
    }
    .title {
        margin: 0 auto 32px;
    }
}

@media screen and (max-width: 480px) {
    .authBlock,
    .registerBlock {
        width: 327px;
    }
    /* .imageContainer {
        width: 0;
    }
    .authContainer {
        width: 100vh;
    }
    .authBlock {
        width: 75%;
        height: 50vh;
    }
    .registerBlock {
        width: 75%;
    }
    .title {
        margin: 0 auto;
        margin-bottom: 32px;
    }
    .buttonContainer {
        margin: 5% 0;
    }
    .authSign {
        margin: 0;
    } */
}
