@import '../assets/theme/theme.css';

.mainContent {
    background: var(--second-bg-color);
    padding-left: 11%;
    padding-top: 10vh;
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .mainContent {
        padding-left: 0;
        width: 100%;
    }
}
