@import '../assets/theme/theme.css';

.mainBlock {
    min-height: calc(100vh - 80px);
    display: flex;
}

.block {
    width: 1140px;
    height: calc(100% - 64px);
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchBlock {
    width: 100%;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.searchStyles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 752px;
}

.inputStyles {
    width: 364px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    position: relative;
}

.searchIcon {
    position: absolute;
    right: 12px;
    display: flex;
    cursor: pointer;
}

.input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: var(--primary-bg-color);
    border: 0.5px solid #d1d1d1;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    color: var(--label-color);
}

.buttonContainer {
    width: 104px;
    height: 100%;
}

.items {
    width: 1140px;
    min-height: 784px;
    margin: 32px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.paginateBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

@media screen and (max-width: 768px) {
    .mainBlock {
        min-height: calc(100vh - 62px);
        align-items: normal;
    }
    .block {
        width: 450px;
        height: auto;
        margin: 16px 0;
    }
    .searchBlock {
        height: 96px;
        flex-direction: column;
    }
    .searchPlayerBlock {
        height: 152px;
    }
    .searchStyles {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 96px;
    }
    .inputStyles {
        width: 100%;
        height: 40px;
        /* margin-bottom: 16px; */
    }
    .input {
        width: 100%;
    }
    .buttonContainer {
        width: 100%;
        height: 40px;
    }
    .items {
        width: 100%;
        min-height: 627px;
        margin: 16px 0;
    }
    .paginateBlock {
        height: 28px;
    }
}

@media screen and (max-width: 480px) {
    .block {
        width: 351px;
    }
    .items {
        min-height: 532.5px;
    }
}
