@import '../assets/theme/theme.css';

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1140px;
    height: 473px;
    margin: 32px auto 24px;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);
}
.playerContainer {
    height: 594px;
}

.heading {
    height: 69px;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.iconsContainer {
    width: 72px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
}
.teamInfoContainer {
    display: flex;
    height: 404px;
}
.playerInfoContainer {
    height: 525px;
}
.imgBlock {
    margin: 0 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgPlayerBlock {
    margin: 0;
    margin-right: 56px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img {
    width: 210px;
    height: 210px;
}

.imgPlayer {
    width: 531px;
    height: 531px;
    margin-bottom: -36px;
}

.textInfoBlock {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 65px;
}
.textInfo {
    display: flex;
    flex-direction: column;
}
.title {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary-text-color);
    margin: 0;
    margin-bottom: 40px;
}
.numberStyles {
    color: red;
}
.description {
    display: flex;
    flex-wrap: wrap;
}
.descriptionBlock {
    width: 296px;
    margin-bottom: 54px;
}
.descriptionPlayerBlock {
    width: 270px;
    margin-bottom: 54px;
}

.label {
    font-weight: 800;
    font-size: 24px;
line-height: 33px;
    color: var(--primary-text-color);
}
.text {
    font-weight: 500;
    font-size: 18px;
line-height: 25px;
    color: var(--primary-text-color);
    margin: 0;
}

.iconsStyles {
    cursor: pointer;
}

.headerIcon {
    width: 24px;
    height: 24px;
}

.deleteIcon * {
    fill: var(--active-nav-color);
}

/* table styles */

.tableWrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.headerName {
    height: 54px;
    color: var(--label-color);
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    padding-left: 32px;
    box-shadow: 1px 0 0 0 #9c9c9c, 0 1px 0 0 #9c9c9c, 1px 1px 0 0 #9c9c9c,
        1px 0 0 0 #9c9c9c inset, 0 1px 0 0 #9c9c9c inset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerAtributes {
    height: 40px;
    box-shadow: 1px 0 0 0 #9c9c9c, 0 1px 0 0 #9c9c9c, 1px 1px 0 0 #9c9c9c,
        1px 0 0 0 #9c9c9c inset, 0 1px 0 0 #9c9c9c inset;
}

.th1 {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: var(--label-color);
    font-weight: 500;
    padding-left: 32px;
}

/* .tableBody {
    width: 100%;
} */

.bodyAtributes {
    height: 56px;
    font-size: 14px;
    line-height: 36px;
    color: var(--label-color);
    box-shadow: 1px 0 0 0 #9c9c9c, 0 1px 0 0 #9c9c9c, 1px 1px 0 0 #9c9c9c,
        1px 0 0 0 #9c9c9c inset, 0 1px 0 0 #9c9c9c inset;
}

.bodyAtributes:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bodyCell {
    padding-left: 32px;
}

.bodyCell:nth-child(1) {
    width: 16px;
}

.bodyCell:nth-child(2) {
    width: 700px;
}

.playerInfoBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.playerImg {
    width: 52px;
    height: 38px;
    margin-right: 10px;
}
.playerInfo {
    display: flex;
    flex-direction: column;
}
.playerInfoName {
    font-size: 14px;
    line-height: 24px;
}
.playerInfoPosition {
    font-size: 13px;
    line-height: 13px;
    color: var(--second-text-color);
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: 590px;
        border-radius: 0;
        margin: 16px auto;
    }
    .playerContainer {
        height: 797px;
    }
    .heading {
        height: 48px;
    }
    .iconsContainer {
        width: 66px;
        margin-right: 12px;
    }
    .teamInfoContainer {
        height: 542px;
        flex-direction: column;
        align-items: center;
    }
    .playerInfoContainer {
        height: 749px;
    }
    .imgBlock {
        width: 100%;
        margin: 48px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgPlayerBlock {
        margin: 48px 0;
        width: 100%;
        height: 112px;
    }
    .img {
        width: 89px;
        height: 90px;
        margin: 0;
    }
    .imgPlayer {
        width: 143px;
        height: 112px;
    }
    .textInfoBlock {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        margin-top: 0;
    }
    .textInfo {
        align-items: center;
    }
    .description {
        flex-direction: column;
        align-items: center;
    }
    .descriptionBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }
    .descriptionPlayerBlock {
        text-align: center;
    }
    .title {
        margin-bottom: 48px;
        font-size: 17px;
line-height: 25px;
    }
    .label {
font-size: 17px;
line-height: 25px;
margin-bottom: 8px;
    }
    .text {
font-size: 15px;
line-height: 24px;
    }
    .table {
        margin-left: -2px;
        width: 102vh;
    }
    .headerName {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .bodyAtributes:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .headerName, .th1, .bodyCell {
        padding-left: 16px;
    }
    .th1:nth-child(n + 3) {
        display: none;
    }
    .bodyCell:nth-child(n + 3) {
        display: none;
    }
}
