@import "../../../../../assets/theme/theme.css";

.container {
  width: 90%;
  height: 60%;
  background-color: var(--primary-bg-color);
  margin-top: 2%;
  border-radius: 10px 10px 10px 10px;
}

.formContainer {
  display: flex;
  width: 100%;
  height: 70%;
  background-color: var(--primary-bg-color);
  margin-top: 8%;
  border-radius: 10px 10px 10px 10px;
}

.addFileBlock {
  width: 30%;
  height: 50%;
  margin-left: 6%;
  background: var(--second-text-color);
  border-radius: 10px;
  opacity: 0.5;
  background-image: url("../../../../../assets/icon/add_a_photo_24px_rounded.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}

.addFileInput {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  opacity: 0;
}

.inputFormContainer {
  width: 35%;
  height: 100%;
  margin-left: 12%;
}

.buttonsContainer {
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: space-between;
}

.saveButton {
  height: 100%;
  width: 45%;
  background: #e4163a;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}
.saveButton:hover {
  background: #ff5761;
}

.cancelButton {
  height: 100%;
  /* width: 171px; */
  /* width: 100px; */
  border: 1px solid grey;
  width: 45%;
  background: #ffffff;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  color: #9c9c9c;
}
.cancelButton:hover {
  background: #d1d1d1;
  border: 1px solid #9c9c9c;
  box-sizing: border-box;
}
